.cards-table {
  border: 10px solid $color-blue-light;
  background-color: $color-yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}