.cards-table {
  border: 10px solid $color-blue-light;
  background-color: $color-yellow;
  width: 90%;
  margin: 0 auto 50px auto;
  padding: 20px;
  border-radius: 20px;
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
