$color-blue-dark: rgb(39, 64, 110);
$color-blue-medium: rgb(1, 180, 198);
$color-blue-light: rgb(190, 229, 253);

$color-pink-dark: rgb(230, 67, 88);
$color-pink-light: rgb(246, 117, 218);

$color-brown-dark: rgb(68, 40, 29);
$color-brown-light: rgb(248, 211, 172);

$color-green: rgb(43, 105, 41);
$color-yellow: rgb(255, 248, 116);
$color-orange: orange;

$color-white: #fff;
$color-black: #000;
